* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

/*appearance for the items within the body */
body{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz_container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px black;
    width: 600px;
    overflow: hidden;
}

/* quiz header appearance */
.quiz-header{
    padding: 4rem;
}

/*text appearance for the questions */
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

/* timer appearance */
#countdown {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    margin-left: 275px;
}

/*button functions and appearance */
button{
    background-color: lightgreen;
    color: black;
    border: none;
    display: block;
    width: 100%;
    cursor: crosshair;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.3rem;
}

button:hover{
    background-color: greenyellow;  
}

button:focus{
    outline: none;
    background-color: lightblue;
}

/*link appearance to the leaderboard */
a.button {
    margin: 235px;
    color: red;
}